{
  "semi": true,
  "trailingComma": "none",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "printWidth": 80,
  "requirePragma": false,
  "insertPragma": false,
  "quoteProps": "as-needed",
  "bracketSpacing": true
}
